body {
  margin: 0;
  font-family: 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FEF7F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}


p {
  line-height: 1.6rem;
  font-size: 1.1rem;
}

input::placeholder {
    color: #CCC5BE;
}

h1{
  font-size: 64pt;
  margin: 15px 0px;

}

h2{
  font-size: 32pt;
  margin: 15px 0px;
  font-weight: 500;

}

h3{
  font-size: 24pt;
  font-weight: normal;
  white-space: pre-line;
  margin: 10px 0px;

}

h4{
  font-size: 14pt;
  font-weight: 500;
  margin: 10px 0px;
}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 300px;
  height: 30px;
  padding: 20px 30px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  padding: 10px 10px;

  top: 70px;
  width: 340px;
  background-color:rgb(237, 228, 219);
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #CCC5BE;
}
